<div class="buttons-filter-list">
  <button type="button" class="btn btn-filter is-active">Все</button>
  <button type="button" class="btn btn-filter">2019</button>
  <button type="button" class="btn btn-filter">2018</button>
</div>
