@import "../../common/sass/mixins";

.pagination {
  padding-bottom: 50px;
  padding-top: 40px;
  position: relative;
  @include mobile {
    padding-top: 60px;
  }
}

.pagination-link {
  border: 1px solid transparent;
  border-radius: 3px;
  color: $color-dark-blue;
  font-size: $font-size-m;
  margin-left: 8px;
  margin-right: 8px;
  outline: none;
  padding: 9px 12px;
  text-align: center;
  transition: ease 0.5s;
  &:hover {
    background-color: hsl(73, 80, 61);

    &.pagination-prev {
      background-color: transparent;
      color: $color-blue;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }

    &.pagination-next {
      background-color: transparent;
      color: $color-blue;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }
  }

  &:focus,
  &:active {
    background-color: hsl(73, 90, 61);
    border-color: $color-blue-light;
  }

  &.is-active {
    background-color: $color-yellow;
    &:active,
    &:focus {
      border-color: $color-dark-blue;
    }
  }
}

.pagination-prev,
.pagination-next {
  align-items: center;
  display: inline-flex;
  position: relative;
  @include mobile {
    position: absolute;
    top: 0;
  }
}

.pagination-prev {
  padding-left: 40px;
  @include mobile {
    left: 0;
  }

  &:before {
    background-image: url("../../assets/img/icons/arrow-pagination.svg");
    content: "";
    height: 8px;
    left: 5px;
    position: absolute;
    width: 18px;
  }
}

.pagination-next {
  padding-right: 40px;
  @include mobile {
    right: 0;
  }

  &:after {
    background-image: url("../../assets/img/icons/arrow-pagination.svg");
    content: "";
    height: 8px;
    position: absolute;
    right: 5px;
    transform: rotate(180deg);
    width: 18px;
  }
}
