<section class="product-info-cards">
  {% for i in range(0,3) %}
    <div class="product-info-card">
      <header class="product-info-card-header">
        <h3>Ксеноновый прожектор <span>HD-XR 5 000 Вт</span></h3>
      </header>
      <div class="product-info-card-content">
        <div class="product-info-card-img-wrap">
          <img src="./assets/img/scheme/card-1.svg" alt="">
        </div>
        <div class="product-info-card-description">
          <h3>Спецификация</h3>
          <ul class="product-characteristics-list">
            <li>
              <h5>Форма управления: </h5>
              <p>Тип с электронным дистационным управлением</p>
            </li>
            <li>
              <h5>Источник: </h5>
              <p>Перем. ток 220 В,</p>
            </li>
            <li>
              <h5>Материал рефлектора: </h5>
              <p>Металл (никель с алюминиевым покрытием) </p>
            </li>
            <li>
              <h5>Максимальная : </h5>
              <p>65 х </p>
            </li>
          </ul>
          <a href="#" class="btn btn-primary">Узнать подробности</a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
