{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main">
  <div class="container">
    <div class="wrapper">
      <div class="wrapper-content">
        {#<div class="modal">
          <div class="modal-window modal-send-request">
            <button type="button" class="btn-close is-btn-close"></button>
            <h3>Отпрвить запрос</h3>
            <p>Комбинированный аппарат, состоящий из охлаждающего вентилятора, достаточного для неогра- ниченного
              непрерывного
              освещения, конструкции головной части прожектора, обеспечивающей </p>
            <form action="" class="form">
              <div class="input-group">
                <input id="name"
                       class="input"
                       name="name"
                       type="text"
                       minlength="1"
                       maxlength="16"
                       required>
                <label for="name" class="label-placeholder">Контактное лицо</label>
              </div>
              <div class="input-group">
                <input id="company"
                       class="input"
                       name="name"
                       type="text"
                       minlength="1"
                       maxlength="16"
                       required>
                <label for="company" class="label-placeholder">Название организации</label>
              </div>
              <div class="input-group">
                <input id="city"
                       class="input"
                       name="name"
                       type="text"
                       minlength="1"
                       maxlength="16"
                       required>
                <label for="city" class="label-placeholder">Город</label>
              </div>
              <div class="input-group">
                <input class="input js-mask-phone"
                       id="phone"
                       name="phone"
                       type="tel"
                       required>
                <label for="phone" class="label-placeholder">Мобильный телефон</label>
                <button class="clear-input-button js-clear-button" type="button"></button>
              </div>
              <div class="input-group">
                <input class="input"
                       id="email"
                       name="email"
                       type="email"
                       required>
                <label for="email" class="label-placeholder">Эл. почта</label>
                <button class="clear-input-button js-clear-button" type="button"></button>
              </div>
              <div class="file-group">
                <p>Прикрепить файл</p>
                <input class="input-file"
                       id="modal-file"
                       name="modal-file"
                       type="file">
              </div>
              <textarea class="textarea" cols="16" rows="5" placeholder="Тектовое поле"></textarea>
              <button class="btn btn-primary btn-lg" type="button">Жду звонка</button>
            </form>
          </div>
          <div class="modal-mask"></div>
        </div>#}
        {#<div class="modal">
          <div class="modal-window modal-callback">
            <button type="button" class="btn-close is-btn-close"></button>
            <h3>Обратный звонок</h3>
            <p>Комбинированный аппарат, состоящий из охлаждающего вентилятора, достаточного для неогра- ниченного</p>
            <form action="" class="form" id="form">
              <div class="input-group">
                <input id="name"
                       class="input"
                       name="name"
                       type="text"
                       minlength="1"
                       maxlength="16"
                       required>
                <label for="name" class="label-placeholder">Контактное лицо</label>
              </div>
              <div class="input-group">
                <input class="input js-mask-phone"
                       id="phone"
                       name="phone"
                       type="tel"
                       required>
                <label for="phone" class="label-placeholder">Мобильный телефон</label>
                <button class="clear-input-button js-clear-button" type="button"></button>
              </div>
              <button class="btn btn-primary btn-lg" type="button">Жду звонка</button>
            </form>
          </div>
          <div class="modal-mask"></div>
        </div>#}
        <div class="product-slide-main">
          <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
          <div><img src="./assets/img/scheme/1.svg" alt=""></div>
          <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
        </div>
        <div class="product-slide-thmb">
          <img src="./assets/img/product-img/1.jpg" alt="">
          <img src="./assets/img/scheme/1.svg" alt="">
          <img src="./assets/img/product-img/1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
