@import "../../common/sass/mixins";

.product-infographics-row {
  @include container(1046px, 8px);
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-direction: column;
  }

  .infographics-image-holder {
    @include laptop {
      margin-right: 0;
      margin-bottom: 16px;
    }
    @include tablet {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }

  h4 {
    margin-bottom: 0;
  }
}

.product-infographics-col {
  display: flex;
  max-width: 25%;
  width: 100%;
  padding: 8px;
  @include tablet {
    max-width: 100%;
  }
}

.product-infographics-border {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 14px;
  border: 1px solid $color-grey-light;
  border-radius: 5px;
  transition: 0.3s;
  @include laptop {
    flex-direction: column;
    text-align: center;
  }
  @include tablet {
    flex-direction: row;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
