{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
{% include "components/hero/hero.njk" %}
{% include "components/section-cards/section-cards.njk" %}
{% include "components/section-about-products/section-about-products.njk" %}
{% include "components/floodlight-models/floodlight-models.njk" %}
{% include "components/main-information/main-information.njk" %}

{{ scripts('index') }}
</body>

</html>
