@import "../../common/sass/mixins";
.main {
  border-bottom: 1px solid $color-grey-light;
  border-top: 1px solid $color-grey-light;
  overflow: hidden;
  padding-bottom: 60px;
  @include mobile {
    padding-bottom: 40px;
  }
}
