{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'Main page') }}

<body>
{% include "components/header/header.njk" %}
{% include "components/hero/hero.njk" %}

{{ scripts('index') }}
</body>

</html>
