{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main">
  {% include "components/hero/hero.njk" %}
  {% include "components/section-infographics-main/section-infographics.njk" %}
  {% include "components/section-about-products/section-about-products.njk" %}
  {% include "components/floodlight-models/floodlight-models.njk" %}
  {% include "components/main-information/main-information.njk" %}
  {% include "components/section-advantage/advantage.njk" %}
  {% include "components/section-target/target.njk" %}
  {% include "components/section-news-posts/news-posts.njk" %}
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
