{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}
<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main contacts">
  <div class="container">
    {% include "components/breadcrumbs/breadcrumbs.njk" %}
    <div class="wrapper">
      {% include "components/nav-main/nav-main.njk" %}
      <div class="wrapper-content">
        <h1>Контакты</h1>
        <div class="contacts-infographics-row">
          <div class="contacts-infographics-col">
            <div class=" contacts-infographics-border">
              <div class="contacts-infographics-image-holder">
                <img src="../../assets/img/icons/icon-map.svg" alt="">
              </div>
              <div class="contacts-infographics-content">
                <h4>Центральный офис</h4>
                <p>Москва, ул. Пушкина 21, 3 этаж, офис 4
                </p>
              </div>
            </div>
          </div>
          <div class="contacts-infographics-col">
            <div class=" contacts-infographics-border">
              <div class="contacts-infographics-image-holder">
                <img src="../../assets/img/icons/icon-tel.svg" alt="">
              </div>
              <div class="contacts-infographics-content">
                <h4>Телефон дляя справок</h4>
                <a href="tel:+7 (000) 000-00-30">+7 (000) 000-00-30</a>
                </p>
              </div>
            </div>
          </div>
          <div class="contacts-infographics-col">
            <div class="contacts-infographics-border">
              <div class="contacts-infographics-image-holder">
                <img src="../../assets/img/icons/icon-mail.svg" alt="">
              </div>
              <div class="contacts-infographics-content">
                <h4>Email</h4>
                <a href="mailto:info@hundae.com">info@hundae.com</a>
              </div>
            </div>
          </div>
        </div>
        <img class="img-responsive" src="./assets/img/map.jpg" alt="map">
        <div class="form-holder">
          <h4>Форма обратной связи</h4>
          <form action="" class="form callback-form" id="form">
            <div class="input-group">
              <input id="name"
                     class="js-user-name"
                     name="name"
                     type="text"
                     minlength="1"
                     maxlength="16"
                     required>
              <label for="name" class="input-placeholder">Контактное лицо *</label>
            </div>
            <div class="input-group">
              <input class="phone"
                     id="phone"
                     name="phone"
                     type="tel"
                     required>
              <label for="name" class="input-placeholder">Мобильный телефон</label>
            </div>
            <textarea cols="16" rows="5" placeholder="Тектовое поле"></textarea>
            <button class="btn btn-primary btn-lg" type="button"> Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
