<div class="target">
  <div class="target-container">
    <h3>Сферы применения</h3>
    <div class="target-list">
      {% for i in range(0, 4) %}
        <div class="target-item">
          <div class="target-border">
            <img src="./assets/img/icons/icon-goal.svg" alt="" class="target-icon">
            <p>Береговая охрана</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
