<aside class="news-aside">
  <div class="aside-question">
    <img class="aside-question-img" src="../../assets/img/aside-qustion.svg" alt="">
    <div class="aside-question-content">
      <h3>Наши специалисты ответят на любой интересующий вопрос</h3>
      <div class="btn btn-outline-primary">Задать вопрос</div>
    </div>
  </div>
</aside>
