@import "../../common/sass/variables";

.news-aside {
  max-width: 242px;
  width: 100%;
  @include laptop {
    max-width: 30%;
  }
  @include mobile {
    max-width: 100%;
  }
}
.aside-question {
  padding: 70px 28px 80px 40px;
  background-color: #F5F6F8;
  border-radius: 3px;
  @include mobile {
    display: flex;
    padding: 22px;
  }

  h3 {
    font-family: $font-family-roboto;
    font-weight: normal;
    margin-bottom: 12px;
  }
}
.aside-question-img {
  max-width: 65px;
  margin-bottom: 12px;
  @include mobile {
    margin-right: 26px;
  }
}
