@import "../../common/sass/mixins";

.news-post-list {
  line-height: 22px;
  margin-bottom: 38px;

  li {
    font-size: $font-size-m;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
    position: relative;

    &:before {
      background-color: $color-blue;
      border-radius: 50%;
      content: "";
      height: 10px;
      left: 0;
      position: absolute;
      top: 16px;
      width: 10px;
    }
  }

  h4 {
    font-family: $font-family-roboto-bold;
    font-weight: $font-weight-bold;
  }

  p {
    color: $color-dark-blue;
  }

  a {
    color: $color-blue-light;
    &:hover {
      color: $color-grey;
    }
  }
}
