.section-news-list {
  line-height: 22px;

  li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: $font-size-m;

    &:before {
      content: '';
      position: absolute;
      top: 14px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $color-blue;
      border-radius: 50%;
    }
  }

  a {
    color: $color-blue-light;
    &:hover {
      color: $color-grey;
    }
  }
}
