<section class="floodlight-models">
  <div class="floodlight-models-container">
    <h2>Модели прожекторов</h2>
    <hr class="floodlight-models-hr">
    <div class="floodlight-models-list">
      {% for i in range(0, 6) %}
        <div class="floodlight-models-item">
          <h4>Группа А {{ i + 1 }}</h4>
          <a href="#">HD-XR250W</a>
          <a href="#">HD-XM250W</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
