<section class="hero">
  <picture class="hero-background">
    <source media="all and (max-width: 599px)"
            srcset="../../assets/img/bg-hero-mobile.jpg">
    <source media="(min-width: 600px)"
            srcset="../../assets/img/bg-hero.jpg">
    <img class="hero-background-image" src="../../assets/img/bg-hero.jpg" alt="Main picture">
  </picture>
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="title">
        <span>Ксеноновые прожекторы</span> <br>
        Hundae Electric
      </h1>
      <p>Превосходно зарекомендовали себя как для карабельного использования, так и для сухопутного применения, особенно
        береговая охрана.</p>
      <a href="#" class="btn btn-outline-info">Подробнее</a>
    </div>
  </div>
</section>
