@import "../../common/sass/mixins";

.hero {
  @include display-flex( flex-start, center);
  min-height: 414px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../../assets/img/bg-hero.jpg) no-repeat center;
  background-size: cover;
}

.hero-container {
  @include container();
  flex-direction: column;
  line-height: 1.3;
}

.hero-content {
  max-width: 520px;
  .title {
    color: $color-yellow;

    span {
      display: inline-block;
      padding: 5px;
      color: $color-white;
      background-color: $color-grey;
      border-radius: 3px;
    }
  }

  p {
    color: $color-white;
    font-family: $font-family-rubik-regular;
    margin-bottom: 40px;
    line-height: 20px;
  };
}
