{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main">
  <div class="breadcrumb-holder">
    {% include "components/breadcrumbs/breadcrumbs.njk" %}
  </div>
  <div class="news-container">
    <h1>Объявляем конкурс! Приз 100 тысяч рублей!</h1>
    <div class="news-content">
      {% include "components/section-news/section-news.njk" %}
      {% include "components/aside-news/aside-news.njk" %}
    </div>
  </div>
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
