.product-description-infographics {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  @include tablet {
    flex-direction: row;
  }

  .infographics-image-holder {
    @include laptop {
      margin-bottom: 16px;
      margin-right: 0;
    }
    @include tablet {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}

.product-description-infographics-item {
  max-width: 50%;
  width: 100%;
  padding: 8px;
  @include mobile {
    max-width: 100%;
  }
}
