.btn-hamburger {
  width: 33px;
  height: 33px;
  display: inline-block;
  position: relative;
  padding: 0;
  span {
    width: 100%;
    float: left;
    margin-bottom: 4px;
    height: 3px;
    background: $color-black;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
}

.hamburger-close {
  position: absolute;
  top: 14px;
  right: 20px;

  span {
    background-color: $color-grey;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      transition: all 0.2s ease-in-out;
    }
    &:nth-last-child(3) {
      transform: rotate(-45deg);
      margin-bottom: 0;
    }
    &:nth-last-child(2) {
      transform: rotate(45deg);
      margin-bottom: 0;
      top: -2px;
      width: 100%;
    }
    &:nth-last-child(1) {
      width: 0;
    }
  }
}
