<section class="product-info-title">
  <div class="container">
    <h1>Ксеноновые прожекторы Hundae Electric</h1>
    <ul class="product-power-list">
      <li>4000 Bт</li>
      <li>4500 Bт</li>
      <li>5000 Bт</li>
    </ul>
  </div>
</section>
