@import "../../common/sass/mixins";

.hero {
  min-height: 580px;
  @include display-flex(flex-start, center);
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
  @include fh {
    min-height: 500px;
  }

  @include desktop {
    min-height: 414px;
  }
}

.hero-background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-background-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  @include mobile {
    object-position: top;
  }
}

.hero-container {
  @include container();
  flex-direction: column;
  line-height: 1.3;
  z-index: 2;
}

.hero-content {
  max-width: 520px;

  .title {
    color: $color-yellow;
    font-weight: $font-weight-black;
    @include mobile {
      max-width: 280px;
    }

    span {
      background-color: $color-grey;
      border-radius: 3px;
      color: $color-white;
      display: inline-block;
      padding: 5px;
    }
  }

  p {
    color: $color-white;
    font-family: $font-family-rubik-regular;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
