@import "variables";
.btn {
  cursor: pointer;
  outline: none;

  &.btn-primary {
    text-align: center;
    padding: $indents-6 $indents-15;
    font-size: $font-size-xxs;
    color: $color-black;
    border: 1px solid $color-blue-light;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
      border-color: transparent;
      background-color: $color-blue-light;
    }
  }
}
