@import "variables";

.btn {
  background-color: transparent;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-roboto;
  font-size: $font-size-xxs;
  outline: none;
  padding: 6px 16px;
  text-align: center;
  transition: 0.3s;
}

.btn-outline-primary {
  border: 1px solid $color-blue-light;
  color: $color-black;

  &:hover {
    background-color: $color-blue-light;
    border-color: transparent;
    color: $color-white;
  }

  &:focus,
  &:active {
    background-color: $color-blue;
  }
}

.btn-primary {
  background-color: $color-blue-light;
  color: $color-white;
  font-size: $font-size-xs;
  padding-bottom: 8px;
  padding-top: 8px;
  &:hover {
    background-color: $color-blue-light20;
  }

  &:focus,
  &:active {
    background-color: $color-blue;
  }
}

.btn-dark {
  align-items: center;
  background-color: $color-dark-blue;
  color: $color-white;
  display: inline-flex;
  font-size: $font-size-m;
  line-height: 20px;
  padding: 8px 16px 8px 42px;
  position: relative;

  &:hover {
    background-color: hsla(234, 34, 16, 0.8);
  }

  &:focus,
  &:active {
    background-color: hsla(234, 34, 16, 0.9);
  }

  &:before {
    background-image: url("../../assets/img/icons/arrow-pagination.svg");
    content: "";
    height: 8px;
    left: 10px;
    position: absolute;
    width: 18px;
  }
}

.btn-outline-info {
  border: 1px solid $color-lightgreen;
  color: $color-white;
  font-size: $font-size-xs;

  &:hover {
    background-color: $color-lightgreen;
  }
}

.btn-lg {
  font-family: $font-family-roboto-medium;
  font-size: $font-size-m;
  padding: 12px 32px;
}

.blocker {
  overflow: auto;
  z-index: 4;
}

.btn-close {
  background-image: none;
  cursor: pointer;
  height: 13px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: 13px;

  &:before {
    background-image: url('../../assets/img/icons/icon-close.svg');
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    top: 0;
    width: 13px;
  }
}
