@import "variables";
// scss-lint:disable VendorPrefix
* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  color: $color-dark-blue;
  direction: ltr;
  font-family: $font-family-base;
  font-size: $font-size-default;
  line-height: 1.5;
}

body {
  line-height: 1.4;
  overflow-x: hidden;
}

input,
textarea,
button,
select {
  background: none;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  font-family: $font-family-base;
  outline: none;
}

input,
textarea {
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: $color-black;
  }

  &::-moz-placeholder {
    color: $color-black;
  }

  &:-ms-input-placeholder {
    color: $color-black;
  }

  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

textarea {
  overflow-y: auto;
  resize: none;
}

h1 {
  font-family: $font-family-roboto-black;
  font-size: $font-size-4xl;
}

h2 {
  font-family: $font-family-roboto-bold;
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
}

h3 {
  font-family: $font-family-roboto-bold;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

h4 {
  font-family: $font-family-roboto-medium;
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
}

h5 {
  font-family: $font-family-roboto-medium;
  font-size: $font-size-xxs;
  font-weight: $font-weight-medium;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}

p {
  color: $color-grey;
}

b {
  font-weight: bold;
}

i {
  color: $color-grey;
  font-size: $font-size-m;
  font-style: italic;
  line-height: 22px;
}

img {
  width: 100%;
}
