@import "variables";
.has-text-center {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.logo-img {
  width: 100%;
  display: block;
  height: auto;
}

.title {
  font-size: $font-size-4xl;
  font-family: $font-family-roboto-black;
  text-transform: uppercase;
}
