@import "mixins";

.container {
  @include container();
}

.wrapper {
  display: flex;
  @include mobile {
    flex-direction: column;
  }

  h1,
  h2 {
    margin-bottom: 20px;
  }

  .img-responsive {
    margin-bottom: 40px;
  }
}

.wrapper-content {
  & > p {
    margin-bottom: 38px;
    font-size: $font-size-m;
    color: $color-dark-blue;
  }
}

.has-text-center {
  text-align: center;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.img-responsive {
  width: 100%;
  display: block;
  height: auto;
}

.title {
  font-size: $font-size-4xl;
  font-family: $font-family-roboto-black;
  text-transform: uppercase;
}

.read-more {
  padding-top: 10px;
  color: $color-black;
  text-decoration: underline;

  &:hover {
    color: $color-grey;
    text-decoration: none;
  }
}

.is-hidden {
  overflow: hidden;
}
