@import "variables";

// Path fonts
$pathFonts: "/assets/fonts";

// Fonts
@mixin font($fontName, $weight, $style, $urlName) {
  font-family: "#{$fontName}";
  src: url(#{$pathFonts}/#{$urlName}/#{$fontName}.eot);
  src: url(#{$pathFonts}/#{$urlName}/#{$fontName}.eot#iefix)
      format("embedded-opentype"),
    url(#{$pathFonts}/#{$urlName}/#{$fontName}.woff) format("woff"),
    url(#{$pathFonts}/#{$urlName}/#{$fontName}.ttf) format("truetype"),
    url(#{$pathFonts}/#{$urlName}/#{$fontName}.svg) format("svg");
  font-weight: $weight;
  font-style: $style;
  font-display: swap;
}

// Responsive
@mixin small-mobile {
  @media (max-width: #{$xmobile-width - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin retina {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

// Hidden
@mixin hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// Visible
@mixin visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

// Background image
@mixin bgimage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Text overflow
@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin container($mw: 1046px, $px: 15px) {
  max-width: $mw;
  width: 100%;
  padding-left: $px;
  padding-right: $px;
  margin-right: auto;
  margin-left: auto;
}
@mixin display-flex($hor, $vert) {
  display: flex;
  justify-content: $hor;
  align-items: $vert;
}
