@import "../../common/sass/mixins";

.news-title {
  @include container();
  margin-bottom: 10px;

  h1 {
    font-family: $font-family-roboto-medium;
    font-weight: $font-weight-medium;
    color: $color-black;
  }
}

.news-container {
  @include container();

  .pagination {
    @include mobile {
      margin-top: 32px;
    }
  }
}

.news-content {
  display: flex;
  padding-top: 12px;
  @include mobile {
    flex-direction: column;
  }
}
