@import "../../common/sass/mixins";

.main-news {
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
}

.main-news-container {
  @include container();

  h1 {
    font-family: $font-family-roboto-medium;
    margin-bottom: 10px;
  }
}

.main-news-content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  @include mobile {
    flex-direction: column;
  }
}
