@import "../../common/sass/mixins";

.news-container {
  @include container();

  h1 {
    font-family: $font-family-roboto-medium;
    margin-bottom: 10px;
  }
}

.news-content {
  display: flex;
  padding-top: 20px;
  @include mobile {
    flex-direction: column;
  }
}
