<div class="target-infographics">
  {% for i in range(0, 4) %}
    <div class="target-infographics-item">
      <div class="target-border">
        <img src="./assets/img/icons/icon-goal.svg" alt="" class="target-icon">
        <p>Береговая охрана</p>
      </div>
    </div>
  {% endfor %}
</div>
