@import "../../common/sass/mixins";

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  @include mobile {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  h4 {
    color: $color-dark-blue;
  }
}

.news-item {
  max-width: 33.33%;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  @include tablet {
    max-width: 50%;
  }
  @include mobile {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  p {
    margin-bottom: 8px;
  }
}

.news-img {
  overflow: hidden;
  border-radius: 3px;

  img {
    margin-bottom: 16px;
  }
}
