<div class="news-list">
  {% for i in range(0,7) %}
  <a href="" class="news-item">
    <div class="news-img">
      <img src="./assets/img/news/1.jpg" alt="">
    </div>
    <p>11 марта 2020 г</p>
    <h4>Новый филиал в Нижнем Новгороде</h4>
  </a>
  {% endfor %}
</div>
