{% from 'components/card/card.njk' import createCard %}
{% set cards = [
  { pathImg: '../../assets/img/icons/icon-safe.svg', altText: 'alt', title: 'Степень защиты прожекторов IPx6', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-goal.svg', altText: 'alt2', title: 'Степень защиты прожекторов IPx6', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-mod.svg', altText: 'alt1', title: 'Степень защиты прожекторов IPx6', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-force.svg', altText: 'alt2', title: 'Степень защиты прожекторов IPx6', desc: 'null' }
] %}

{% set cards2 = [
  { pathImg: '../../assets/img/icons/icon-goal.svg', altText: 'alt', title: 'Береговая охрана', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-goal.svg', altText: 'alt2', title: 'Береговая охрана', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-goal.svg', altText: 'alt1', title: 'Береговая охрана', desc: 'null' },
  { pathImg: '../../assets/img/icons/icon-goal.svg', altText: 'alt2', title: 'Береговая охрана', desc: 'null' }
] %}

<section class="product-info">
  <div class="product-info-container">
    {% include "components/breadcrumbs/breadcrumbs.njk" %}
    <h1>Ксеноновые прожекторы Hundae Electric</h1>
    <ul class="product-power-list">
      <li>4000 Bт</li>
      <li>4500 Bт</li>
      <li>5000 Bт</li>
    </ul>
  </div>
  <div class="product-content-wrap">
    <div class="product-content-gallery">
      <div class="your-class">
        <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
        <div><img src="./assets/img/scheme/1.svg" alt=""></div>
        <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
      </div>
      <img src="./assets/img/product-img/1.jpg" alt="">
      <div class="product-content-gallery-thumbs">
        <div><img src="./assets/img/scheme/1.svg" alt=""></div>
      </div>
    </div>
    <div class="product-description">
      <ul class="product-description-list">
        <li>
          <h5>Форма управления: </h5>
          <p>Тип с электронным дистационным управлением</p>
        </li>
        <li>
          <h5>Источник: </h5>
          <p>Перем. ток 220 В, 3 фазы, 50/60 Гц (другие по запросу)</p>
        </li>
        <li>
          <h5>Диаметр рефлекса:</h5>
          <p>sadfas</p>
        </li>
        <li>
          <h5>Материал рефлектора: </h5>
          <p>Металл (никель с алюминиевым покрытием) или закаленое стекло</p>
        </li>
        <li>
          <h5>Максимальная интенсивность луча: </h5>
          <p>65 х 106 кд Расходимость луча: 1 — 70</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
      </ul>
      <strong>Подберем подходящую модель прожектора под ваши нужды!</strong>
      <a href="#" class="btn btn-primary btn-lg">Отправить запрос</a>
    </div>
  </div>
  <div class="product-info-container">
    <div class="product-info-infographics-row">
      {% for card in cards %}
        <div class="product-info-infographics-col">
          <div class="product-info-infographics-border">
            {{ createCard(card.pathImg,card.altText,card.title,card.desc) }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% for i in range(0,3) %}
      <div class="product-info-cards">
        <header class="product-info-card-header">
          <h3>Ксеноновый прожектор <span>HD-XR 5 000 Вт</span></h3>
        </header>
        <div class="product-info-card-content">
          <div class="product-info-card-img-wrap">
            <img src="./assets/img/scheme/card-1.svg" alt="">
          </div>
          <div class="product-info-card-description">
            <h3>Спецификация</h3>
            <ul class="product-description-list">
              <li>
                <h5>Форма управления: </h5>
                <p>Тип с электронным дистационным управлением</p>
              </li>
              <li>
                <h5>Источник: </h5>
                <p>Перем. ток 220 В,</p>
              </li>
              <li>
                <h5>Материал рефлектора: </h5>
                <p>Металл (никель с алюминиевым покрытием) </p>
              </li>
              <li>
                <h5>Максимальная : </h5>
                <p>65 х </p>
              </li>
            </ul>
            <a href="#" class="btn btn-primary">Узнать подробности</a>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="product-info-description-content">
      <div class="product-info-description-content-left">
        <h2>Описание</h2>
        <p>С момента своего основания в декабре 1981 года, компании Hyun Dae Electric непрерывно развивалась в качестве
          профессиональной судоремонтной компании по ремонту электрооборудования. Наша компания была первой национальной
          компанией, разработавшей в 1983 году прожектор для приманки рыбы, стабилиза- тор для прожектора и
          сигнализатор, осуществляя поставки этих продуктов различ- ным местным рыбопромысловым компаниям. Кроме того, в
          1988 году был построен завод Hyun Dae Electric (Завод 2: расположен в Namhang-dong Пусан, окр. Ёндо-гу) для
          расширения объема производства и осуществления поставок распределитель- ных панелей и щитов для судов. </p>
      </div>
      <div class="product-info-description-content-right">
        <h2>Сферы применения</h2>
        <div class="product-info-infographics-row">
          {% for card in cards2 %}
            <div class="product-info-infographics-col">
              <div class=" product-info-infographics-border">
                {{ createCard(card.pathImg,card.altText,card.title,card.desc) }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
