{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}

<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main">
  <div class="breadcrumb-holder">
    {% include "components/breadcrumbs/breadcrumbs.njk" %}
  </div>
  <div class="product-heading">
    <h1>Ксеноновые прожекторы Hundae Electric</h1>
    <ul class="product-power-list">
      <li>4000 Bт</li>
      <li>4500 Bт</li>
      <li>5000 Bт</li>
    </ul>
  </div>
  {% include "components/section-product-slider/product-slider.njk" %}
  {% include "components/section-product-infographics/product-infographics.njk" %}
  {% include "components/section-product-info-cards/product-info-cards.njk" %}
  {% include "components/section-product-description/product-description.njk" %}
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
