{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}
{% from 'components/list/list.njk' import list %}
{% set listItem = [
  { title: 'Обеспечим вашу безопасность.', desc: 'Проанализируем объект и установим лучшую систему охраны. Предложим квалифицированных операторов видеонаблюдения. Разработаем индивидуальную систему контроля доступа.'},
  { title: 'Автоматизируем процессы.', desc: 'Усовершенствуем ваши бизнес-процессы с помощью CRM-системы и IP-телефонии. Обучим персонал и предоставим доступ к обновлениям.'},
  { title: 'Сделаем ваше жилье красивым.', desc: 'Проконсультируем по материалам для отделки фасада. Положим надежную черепицу. Оформим террасу для летнего времяпрепровождения.' }
] %}
{% set listItem2 = [
  { desc: 'Установили 183 системы видеонаблюдения'},
  { desc: 'За 1 месяц разработали систему контроля доступа на стадионе «Гладиатор»'},
  { desc: 'Поставили на заводы 1 000 тонн металлопроката' }
] %}
<!DOCTYPE html>
<html lang="ru">

{{ head('index', 'hundae-electric') }}

<body>
{% include "components/header/header.njk" %}
<main class="main about-company">
  <div class="container">
    {% include "components/breadcrumbs/breadcrumbs.njk" %}
    <div class="wrapper">
      {% include "components/nav-main/nav-main.njk" %}
      <div class="wrapper-content">
        <h1>О компании</h1>
        <img src="./assets/img/about-company.jpg" alt="people">
        <p>«Олл Корп» — инжиниринговая компания, которая занимается установкой систем безопасности, автоматизации и
          обеспечения комфортной жизнедеятельности. С 2008 года мы занимаемся сервисным обслуживанием и модернизацией
          любых инженерных систем.</p>
        <h2>Чем мы можем быть вам полезны</h2>
        <ul class="section-news-list">
          {% for item in listItem %}
            {{ list(item.title,item.desc) }}
          {% endfor %}
        </ul>
        <p>В «Олл Корп» работает 246 квалифицированных инженеров, готовых помочь вам в любой момент. Мы тщательно
          анализируем помещение и близлежащую территорию перед началом работ. Наша система коммуникации, выстроенная за
          8 лет общения с клиентами, позволяет достичь отличного совместного результата. </p>
        <p>В нашем портфолио есть проекты для крупных промышленных предприятий и маленьких частных домов. Мы беремся за
          проекты любой сложности и одинаково ответственно относимся ко всем нашим клиентам.</p>
        <h2>Что уже сделано?</h2>
        <ul class="section-news-list">
          {% for item in listItem2 %}
            {{ list(item.title,item.desc) }}
          {% endfor %}
        </ul>
        <i>Мы знаем, как сделать лучше. Многолетний опыт работы и профессионализм сотрудников позволяют нам занимать
          лидирующие позиции в сфере услуг. Заказывайте в «Олл Корп» – сделаем качественно и за короткий срок.</i>
      </div>
    </div>
  </div>
</main>
{% include "components/footer/footer.njk" %}

{{ scripts('index') }}
</body>

</html>
