<div class="modal">
  <div class="modal-window modal-callback">
    <button type="button" class="btn-close is-btn-close"></button>
    <h3>Обратный звонок</h3>
    <p>Комбинированный аппарат, состоящий из охлаждающего вентилятора, достаточного для неогра- ниченного</p>
    <form action="" class="form" id="form">
      <div class="input-group">
        <input id="name"
               class="js-user-name"
               name="name"
               type="text"
               minlength="1"
               maxlength="16"
               required>
        <label for="name" class="input-placeholder">Контактное лицо</label>
      </div>
      <div class="input-group">
        <input class="phone"
               id="phone"
               name="phone"
               type="tel"
               required>
        <label for="phone" class="input-placeholder">Мобильный телефон</label>
        <button class="clear-input-button js-clear" type="button"></button>
      </div>
      <button class="btn btn-primary btn-lg" type="button">Жду звонка</button>
    </form>
  </div>
  <div class="modal-mask"></div>
</div>
