<div class="modal">
  <div class="modal-window modal-form">
    <button type="button" class="btn-close is-btn-close"></button>
    <h3>Отпрвить запрос</h3>
    <p>Комбинированный аппарат, состоящий из охлаждающего вентилятора, достаточного для неогра- ниченного непрерывного
      освещения, конструкции головной части прожектора, обеспечивающей </p>
    <form action="" class="form">
      <div class="input-group">
        <input id="name"
               class="js-user-name"
               name="name"
               type="text"
               minlength="1"
               maxlength="16"
               required>
        <label for="name" class="input-placeholder">Контактное лицо</label>
      </div>
      <div class="input-group">
        <input id="company"
               class="js-user-name"
               name="name"
               type="text"
               minlength="1"
               maxlength="16"
               required>
        <label for="company" class="input-placeholder">Название организации</label>
      </div>
      <div class="input-group">
        <input id="city"
               class="input-city"
               name="name"
               type="text"
               minlength="1"
               maxlength="16"
               required>
        <label for="city" class="input-placeholder">Город</label>
      </div>
      <div class="input-group">
        <input class="input-phone"
               id="phone"
               name="phone"
               type="tel"
               required>
        <label for="phone" class="input-placeholder">Мобильный телефон</label>
        <button class="clear-input-button js-clear" type="button"></button>
      </div>
      <div class="input-group">
        <input class="input-email"
               id="email"
               name="email"
               type="email">
        <label for="email" class="input-placeholder">Эл. почта</label>
        <button class="clear-input-button js-clear" type="button"></button>
      </div>
      <div class="input-group file-group">
        <input class="input-file"
               id="file"
               name="file"
               type="file">
        <label for="file" class="input-placeholder-file">Прикрепить файл</label>
      </div>
      <textarea cols="16" rows="5" placeholder="Тектовое поле"></textarea>
      <button class="btn btn-primary btn-lg" type="button">Жду звонка</button>
    </form>
  </div>
  <div class="modal-mask"></div>
</div>
