<section class="product-info">
  <div class="product-info-wrap">
    <div class="product-slider-wrap">
      <div class="product-slide-photo">
        <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
        <div><img src="./assets/img/scheme/1.svg" alt=""></div>
        <div><img src="./assets/img/icons/icon-goal.svg" alt=""></div>
        <div><img src="./assets/img/products/2.png" alt=""></div>
      </div>
      <div class="product-slide-thumbs">
        <div><img src="./assets/img/product-img/1.jpg" alt=""></div>
        <div><img src="./assets/img/scheme/1.svg" alt=""></div>
        <div><img src="./assets/img/icons/icon-goal.svg" alt=""></div>
        <div><img src="./assets/img/products/2.png" alt=""></div>
      </div>
    </div>
    <div class="product-characteristics">
      <ul class="product-characteristics-list">
        <li>
          <h5>Форма управления: </h5>
          <p>Тип с электронным дистационным управлением</p>
        </li>
        <li>
          <h5>Источник: </h5>
          <p>Перем. ток 220 В, 3 фазы, 50/60 Гц (другие по запросу)</p>
        </li>
        <li>
          <h5>Диаметр рефлекса:</h5>
          <p>sadfas</p>
        </li>
        <li>
          <h5>Материал рефлектора: </h5>
          <p>Металл (никель с алюминиевым покрытием) или закаленое стекло</p>
        </li>
        <li>
          <h5>Максимальная интенсивность луча: </h5>
          <p>65 х 106 кд Расходимость луча: 1 — 70</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
        <li>
          <h5>Вес: </h5>
          <p>Около 178 кг</p>
        </li>
      </ul>
      <strong>Подберем подходящую модель прожектора под ваши нужды!</strong>
      <a href="#" class="btn btn-primary btn-lg">Отправить запрос</a>
    </div>
  </div>
</section>
