<section class="about-products">
  <div class="about-products-container">
    <div class="about-products-main">
      <div class="about-products-img-wrap">
        <img src="../../assets/img/products/1.png" alt="" class="about-products-img">
      </div>
      <div class="about-products-content">
        <h3>Основное устройство прожектора</h3>
        <div class="about-products-desc">
          <p>Комбинированный аппарат, состоящий из охлаждающего вентилятора, достаточного для неогра- ниченного
            непрерывного освещения, конструкции головной части прожектора, обеспечивающей максимальную
            производительность
            и эффективность процесса всасывание → циркуляция → охлажде- ние → выпуск, и редуктора, который обладает
            отличными рабочими характеристиками и надежностью для предупреждения явления конденсации.
          </p>
          <p>В частности,
            встроенный датчик температуры головной части прожектора, который, начиная с продукта серии HD-XR1000WR,
            поставляется в основном комплекте, предотвращает термическое повреждение внутренних частей в случае сбоев
            в охлаждении. Обогреватель редуктора предотвращает повреждение работающего двигателя и деталей в следствие
            образования конденсата внутри редуктора из-за быстро изменяющейся обстановки на судах. Подробнее</p>
        </div>
        <a href="#" class="text-link">Подробнее</a>
      </div>
    </div>
    <div class="about-products-extra">
      <article class="article-about-products">
        <div class="article-about-products-img-wrap">
          <img src="../../assets/img/products/2.png" alt="" class="about-products-img">
        </div>
        <div class="article-about-products-content">
          <h3>Источник питания</h3>
          <p>Эта инновация позволяет уменьшить вес и объем источника питания по сравнению с существующим источни- ком
            питания типа SCR, что позволяет устанавливать его на неболь- ших судах.</p>
          <a href="#" class="text-link">Подробнее</a>
        </div>
      </article>
      <article class="article-about-products">
        <div class="article-about-products-img-wrap">
          <img src="../../assets/img/products/3.png" alt="" class="about-products-img">
        </div>
        <div class="article-about-products-content">
          <h3>Источник питания</h3>
          <p>Эта инновация позволяет уменьшить вес и объем источника питания по сравнению с существующим источни- ком
            питания типа SCR, что позволяет устанавливать его на неболь- ших судах.</p>
          <a href="#" class="text-link">Подробнее</a>
        </div>
      </article>
    </div>
  </div>
</section>
