@import "../../common/sass/mixins";

.main-information {
  padding-bottom: 60px;
  padding-top: 40px;
}

.main-information-container {
  @include container(1116px);
  @include display-flex(flex-start, center);
  @include mobile {
    flex-direction: column;
  }

  & > h2 {
    display: none;
    @include mobile {
      display: block;
    }
  }
}

.main-information-image,
.main-information-content {
  padding-left: 30px;
  padding-right: 30px;
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-information-image {
  flex-shrink: 0;
  max-height: 500px;
  max-width: 50%;
  text-align: center;
  width: 100%;
  @include mobile {
    max-width: 320px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  img {
    height: 100%;
    object-fit: contain;
  }
}

.main-information-content {
  h2 {
    font-size: $font-size-4xl;
    margin-bottom: 12px;
    @include mobile {
      display: none;
    }
  }

  p {
    line-height: 18px;
    margin-bottom: 15px;
  }
}
