@import "../../common/sass/mixins";

.header {
  background-color: $color-white;
  @include mobile {
    padding-bottom: 0;
  }

  .btn-hamburger {
    display: none;
    @include tablet {
      display: block;
    }
  }

  strong {
    display: inline-block;
    font-family: $font-family-roboto-medium;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    margin-bottom: 6px;
  }

  p {
    font-size: $font-size-xxs;
  }

  b {
    font-size: 12px;
  }
}

.header-top {
  @include container();
  @include display-flex(space-between, flex-start);
  line-height: 14px;
  padding-top: 40px;
  @include laptop {
    flex-wrap: wrap;
    padding-bottom: 15px;
  }

  @include mobile {
    padding-bottom: 18px;
    padding-top: 21px;
  }
}

.header-logo-wrap {
  display: flex;
  @include laptop {
    order: 0;
  }

  @include tablet {
    justify-content: space-between;
    width: 100%;
  }

  .logo-main {
    margin-right: 50px;
    max-width: 210px;
    @include tablet {
      margin-right: 10px;
      max-width: 162px;
    }
  }

  .logo-extra {
    margin-right: 46px;
    max-width: 100px;
    @include laptop {
      margin-right: 10px;
    }
  }
}

.header-info {
  margin-right: 15px;
  max-width: 240px;
  @include laptop {
    margin-right: 0;
    max-width: 100%;
    order: 1;
  }

  @include mobile {
    display: none;
  }

  a {
    color: $color-blue-light;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-contact {
  display: flex;
  @include tablet {
    display: none;
  }
}

.header-contact-address {
  line-height: 15px;
  margin-right: 28px;
  @include mobile {
    display: none;
  }
}

.header-contact-phone {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  @include tablet {
    margin-bottom: 30px;

    .btn {
      align-self: flex-start;
    }
  }

  .link-phone {
    color: $color-black;
    font-size: $font-size-l;
    margin-bottom: 15px;

    &:hover {
      color: $color-blue;
    }
  }
}

.header-fixed {
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-light;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform 1s;
  width: 100%;
  z-index: 10;
}

.header-bottom {
  padding-bottom: 18px;
  padding-top: 30px;

  @include mobile {
    border-top: 1px solid $color-grey-light;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.header-bottom-wrap {
  @include container();
  @include display-flex(space-between, center);
  z-index: 10;
  @include tablet {
    flex-wrap: wrap;
  }
}

.header-nav {
  z-index: 3;
  @include laptop {
    flex-shrink: 0;
  }

  @include mobile {
    margin-bottom: 0;
    margin-top: 0;
  }

  .is-open {
    ~ .js-hamburger {
      left: -100px;
      position: absolute;
    }
  }

  .hamburger-close {
    @include tablet {
      display: block;
    }
  }

  .header-contact-phone {
    display: none;
  }
}

.header-menu {
  @include tablet {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: -1;
  }

  &.is-open {
    background: linear-gradient(
                    0deg,
                    rgba(10, 41, 65, 0.5),
                    rgba(10, 41, 65, 0.5)
    );
    visibility: visible;

    .header-menu-content {
      @include tablet {
        transform: none;
      }
    }

    .header-contact-phone {
      @include tablet {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.header-menu-content {
  position: relative;
  transition: 0.5s;
  @include tablet {
    background-color: $color-white;
    flex-direction: column;
    height: 100%;
    max-width: 285px;
    padding: 20px 30px;
    transform: translateX(-100%);
    width: 100%;
  }
}

.header-nav-list {
  display: flex;
  @include tablet {
    flex-direction: column;
  }

  & > li {
    margin-right: 40px;
    @include laptop {
      margin-right: 18px;
    }

    @include tablet {
      border-bottom: 1px solid $color-grey;
      margin-right: 0;
      padding-bottom: 14px;
      padding-top: 14px;
      &:hover {
        border-bottom: 1px solid $color-blue;
      }
    }

    &:hover .header-nav-list-inner {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 4px 12px 19px -9px rgba(0, 0, 0, 0.15);
      display: block;
      @include tablet {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
      }
    }

    &:hover > a:after {
      transform: translateY(-50%) rotate(180deg);
    }

    & > a {
      font-family: $font-family-rubik-regular;
      @include display-flex(flex-start, center);
      font-size: $font-size-s;
      padding-right: 14px;
      position: relative;

      &:after {
        background: url("../../assets/img/icons/arrow.svg") no-repeat center;
        content: "";
        height: 8px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        width: 8px;
      }
    }
  }

  a {
    color: $color-black;
    font-size: $font-size-s;

    &:hover {
      color: $color-blue;
    }
  }
}

.header-nav-list-inner {
  background-color: $color-white;
  display: none;
  padding-top: 10px;
  position: absolute;
  @include tablet {
    position: relative;
  }

  a {
    font-family: $font-family-rubik-regular;
    line-height: 34px;
    padding: 0 15px;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-input-search {
  background-color: $color-grey-light;
  background-image: url("../../assets/img/icons/search.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
  border-radius: 3px;
  max-width: 242px;
  padding: 8px 30px 8px 12px;
  position: relative;
  width: 100%;
  @include laptop {
    max-width: 188px;
    width: auto;
  }

  @include laptop {
    max-width: 170px;
  }

  @include mobile {
    background-color: #fff;
    background-image: url("../../assets/img/icons/search-black.svg");
    padding-right: 42px;
    &:hover {
      background-image: none;
      border: 1px solid $color-grey;
    }
  }
}

.presentation {
  padding-top: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    li:not(:last-child) {
      margin-right: 20px;
    }

    a {
      color: $color-blue;
      padding: 10px;
    }
  }
}
