<header class="header">
  <div class="header-top">
    <div class="header-logo-wrap">
      <a class="logo-main" href="/" title="Hundae electric">
        <img class="img-responsive" src="./assets/img/Logo.svg" alt="Hundae electric">
      </a>
      <a class="logo-extra" href="#" title="Complex Deliveries of Innovative Equipment">
        <img class="img-responsive" src="./assets/img/Logo2.svg" alt="Complex Deliveries of Innovative Equipment">
      </a>
    </div>
    <div class="header-info">
      <strong>Источник питания из Германии</strong>
      <p>Компания «Промтехсервис» является эксклюзивным дистрибьютором компании <a href="#">Fug Elektronik</a></p>
    </div>
    <div class="header-contact">
      <div class="header-contact-address">
        <strong>Адрес</strong>
        <p>г. Москва, ул. Плеханова, д. 4а</p>
        <b>ПН-ПТ 9:00-18:00</b>
      </div>
      <div class="header-contact-phone">
        <a class="link-phone" href="tel:+7 (495) 771-72-52" title="phone">+7 (495) 771-72-52</a>
        <a href="#" class="btn btn-outline-primary">Обратный звонок</a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom-wrap">
      <nav class="header-nav">
        <div class="header-menu">
          <div class="header-menu-content">
            <button type="button" class="btn btn-hamburger hamburger-close js-hamburger">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="header-contact-phone">
              <a class="link-phone" href="tel:+7 (495) 771-72-52" title="phone">+7 (495) 771-72-52</a>
              <a class="btn btn-outline-primary" href="#" >Обратный звонок</a>
            </div>
            <ul class="header-nav-list">
              <li>
                <a href="#">Каталог </a>
                <ul class="header-nav-list-inner">
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Услуги </a>
                <ul class="header-nav-list-inner">
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Отраслевые решения </a>
                <ul class="header-nav-list-inner">
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Информация </a>
                <ul class="header-nav-list-inner">
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Компания </a>
                <ul class="header-nav-list-inner">
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                  <li><a href="#">Subnav Item</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <button type="button" class="btn btn-hamburger js-hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>

        {#{% include "components/hamburger/hamburger.njk" %}#}
      </nav>
      <input class="header-input-search" type="text">
    </div>
  </div>
</header>
