@import "../../common/sass/mixins";

.news-post {
  width: 100%;
  @include mobile {
    padding-bottom: 40px;
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    color: $color-dark-blue;
    font-size: $font-size-m;
    line-height: 22px;
    margin-bottom: 16px;

    a {
      color: $color-blue-light;
    }
  }

  img {
    display: block;
    height: auto;
    margin-bottom: 46px;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  .btn-back-wrap {
    margin-bottom: 20px;
    margin-top: 60px;
    @include mobile {
      text-align: center;
    }
  }
}
