@import "../../common/sass/mixins";

.section-news {
  width: 100%;

  h2 {
    margin-bottom: 24px;
  }

  p {
    font-size: $font-size-m;
    line-height: 22px;
    margin-bottom: 16px;
    color: $color-dark-blue;

    a {
      color: $color-blue-light;
    }
  }

  img {
    display: block;
    height: auto;
    margin-bottom: 46px;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  .btn-back-wrap {
    margin-top: 60px;
    margin-bottom: 60px;
    @include mobile {
      text-align: center;
    }
  }
}

.section-news-list {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 30px;
  }

  li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: $font-size-m;

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $color-blue;
      border-radius: 50%;
    }
  }

  a {
    color: $color-blue-light;
    &:hover {
      color: $color-grey;
    }
  }
}
