<section class="news-post">
  <img src="./assets/img/img-news.jpg" alt="">
  <h2>Компания «Олл Корп» объявляет конкурс среди клиентов!</h2>
  <p>Мы уже давно думаем над созданием гимна для нашей компании. Только вот наши сотрудники все время в работе и у нас совсем не хватает на это времени. Мы решили, что наши любимые клиенты хорошо нас знают и легко справятся с такой задачей. А мы наградим победителя крупным денежным призом.</p>
  <h2>Как принять участие в конкурсе?</h2>
  <ul class="news-post-list">
    <li>Придумайте варианты гимна компании «Олл Корп»</li>
    <li>Высылайте их на нашу электронную почту <a href="mailto:info@allcorpweb.ru">info@allcorpweb.ru</a></li>
    <li>20 ноября на ваш почтовый ящик придет письмо с именем победителя</li>
  </ul>
  <p><i>Мы начали получать первые варианты еще до объявления конкурса! Спасибо всем участникам за поддержку и преданность «Олл Корп».</i></p>
  <div class="btn-back-wrap">
    <a href="" class="btn btn-dark">К списку новостей</a>
  </div>
</section>
