{% import "components/card/card.njk" as cards %}
<section class="section-cards">
  <div class="section-cards-container">
    <div class="section-cards-row">
      <div class="section-cards-col">
        <div class=" section-cards-border">
          {{ cards.card('../../assets/img/icons/icon-safe.svg',
            'alt',
            'Степень защиты прожекторов IPx6',
            'Защита от сильных водных струй и морской воды.') }}
        </div>
      </div>
      <div class="section-cards-col">
        <div class=" section-cards-border">
          {{ cards.card('../../assets/img/icons/icon-goal.svg',
            'alt',
            'Степень защиты прожекторов IPx6',
            'Превосходно зарекомендовал себя для карабельного, сухопутного и берегового использования.') }}
        </div>

      </div>
      <div class="section-cards-col">
        <div class=" section-cards-border">
          {{ cards.card('../../assets/img/icons/icon-mod.svg',
            'alt',
            'Степень защиты прожекторов IPx6',
            'Защита от сильных водных струй и морской воды.') }}
        </div>
      </div>
      <div class="section-cards-col">
        <div class=" section-cards-border">
          {{ cards.card('../../assets/img/icons/icon-force.svg',
            'alt',
            'Степень защиты прожекторов IPx6',
            'Превосходно зарекомендовал себя для карабельного, сухопутного и берегового использования.') }}
        </div>
      </div>
    </div>
  </div>
</section>
