@import "../../common/sass/mixins";

.footer {
  a:hover {
    color: $color-blue;
  }
}

.footer-top {
  @include container();
  display: flex;
  padding-top: 38px;
  padding-bottom: 30px;
  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer-nav-info {
  max-width: 124px;
  width: 100%;
  margin-right: 40px;
  flex-shrink: 0;
  @include tablet {
    display: flex;
    padding-right: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }
  @include mobile {
    max-width: 50%;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 0;
  }

  .footer-list-holder {
    @include tablet {
      max-width: 160px;
      width: 100%;
    }
    @include mobile {
      max-width: 100%;
    }
  }

  .footer-list-holder + .footer-list-holder {
    margin-top: 46px;
    @include tablet {
      margin-top: 0;
    }
  }

  li + li {
    margin-top: 8px;
  }
}

.footer-middle {
  max-width: 516px;
  width: 100%;
  margin-right: 74px;
  @include laptop {
    padding-right: 30px;
  }
  @include tablet {
    display: flex;
    max-width: 100%;
  }
  @include mobile {
    max-width: 50%;
    flex-direction: column;
    margin-right: 0;
  }
}

.footer-right {
  @include tablet {
    display: flex;
  }
  @include mobile {
    flex-direction: column;
  }
}

.footer-list-inner {
  a {
    font-size: $font-size-xxs;
    color: $color-grey;
    line-height: 1.2;
  }
}

.footer-list-title {
  margin-bottom: 8px;
  color: $color-dark-blue;
}

.footer-nav-catalog {
  margin-bottom: 38px;
  @include mobile {
    margin-bottom: 0;
  }
}

.footer-nav-service {
  margin-bottom: 23px;
  @include tablet {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .footer-list-title {
    margin-bottom: 16px;
  }
}

.footer-nav-resolution {
  @include tablet {
    max-width: 50%;
    flex-shrink: 0;
  }

  .footer-list-inner {
    a {
      font-family: $font-family-suisse-regular;
    }
  }

  a.footer-list-title {
    @include mobile {
      font-family: $font-family-roboto;
      font-weight: $font-weight-regular;
      font-size: $font-size-xxs;
      color: $color-grey;
    }
  }
}

.footer-nav-catalog,
.footer-nav-resolution {
  .footer-list-inner {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    max-width: 50%;
    width: 100%;
    padding-right: 40px;
  }
}

.footer-nav-info,
.footer-nav-catalog,
.footer-nav-service {
  .footer-list-title {
    font-family: $font-family-roboto-medium;
    font-weight: $font-weight-medium;
    @include mobile {
      color: $color-grey;
      font-size: $font-size-xxs;
      font-family: $font-family-roboto;
      font-weight: $font-weight-regular;

    }
  }

  .footer-list-inner {
    a {
      font-family: $font-family-roboto;
    }
  }
}

.footer-nav-resolution,
.footer-nav-contact {
  .footer-list-title {
    font-size: $font-size-m;
    font-family: $font-family-suisse-book;
    font-weight: $font-weight-semi-bold;
    color: $color-dark-blue;
  }
}

.footer-nav-catalog,
.footer-nav-service,
.footer-nav-resolution,
.footer-nav-contact {
  li {
    margin-bottom: 16px;
  }
}

.footer-nav-info,
.footer-nav-catalog,
.footer-nav-service,
.footer-nav-resolution {
  .footer-list-inner {
    @include mobile {
      display: none;
    }
  }
}

.footer-nav-contact {
  .footer-list-inner {
    a {
      font-size: 13px;
      font-family: $font-family-suisse-regular;
    }
  }
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid $color-grey-light;
  font-size: $font-size-xxs;
  @include mobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-bottom-container {
    @include container();
  }

  p {
    font-family: $font-family-suisse-regular;
  }

  a {
    color: $color-grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
