<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-list-holder">
        <a href="#">Каталог</a>
        <ul class="footer-list-inner">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Сертификаты</a></li>
        </ul>
      </div>
      <div class="footer-list-holder">
        <a href="#">Информация</a>
        <ul class="footer-list-inner">
          <li><a href="#">О компании</a></li>
          <li><a href="#">Сертификаты</a></li>
        </ul>
      </div>
      <div class="footer-list-holder">
        <a href="#">Наши клиенты</a>
        <ul class="footer-list-inner">
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Реквизиты</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-middle">
      <div class="footer-list-holder">
        <a href="#">Каталог</a>
        <ul class="footer-list-inner">
          <li><a href="#">Источинк питания высокого напряжения</a></li>
          <li><a href="#">Блоки питания для зарядки конденсаторов</a></li>
          <li><a href="#">Источники питания низкого напряжения</a></li>
          <li><a href="#">Источники питания среднего напряжения</a></li>
          <li><a href="#">Кассетные источники питания</a></li>
          <li><a href="#">Источники питания для сверхпроводника</a></li>
          <li><a href="#">Блоки питания с автоматической регулировкой диапозона</a></li>
          <li><a href="#">Линейные и биполярные блоки питания</a></li>
          <li><a href="#">Источники питания под заказ</a></li>
          <li><a href="#">Опции</a></li>
          <li><a href="#">Координато - измерительные машины</a></li>
          <li><a href="#">Комплектующие</a></li>
        </ul>
      </div>
      <div class="footer-list-holder footer-list-resolution">
        <a href="#">Отраслевые решения</a>
        <ul class="footer-list-inner">
          <li><a href="#">Источники питания низкого напряжения</a></li>
          <li><a href="#">Кассетные источники питания</a></li>
          <li><a href="#">Источники питания для сверхпроводника</a></li>
          <li><a href="#">Источники питания под заказ</a></li>
          <li><a href="#">Опции</a></li>
          <li><a href="#">Координато - измерительные машины</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-list-holder">
        <a href="#">Услуги</a>
        <ul class="footer-list-inner">
          <li><a href="#">Автоматизация</a></li>
          <li><a href="#">Аренда спецтехники</a></li>
          <li><a href="#">Оборудование для мониторинга транспорта (бсмтс)</a></li>
          <li><a href="#">Системы безопасности</a></li>
        </ul>
      </div>
      <div class="footer-list-holder footer-list-contacts">
        <a href="#">Наши контакты</a>
        <ul class="footer-list-inner">
          <li><a href="tel:+7 (800) 756-90-85">+7 (800) 756-90-85</a></li>
          <li><a href="#">Адрес компании</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-container">
      <p>2017 © ООО «Промтехсервис» — <a href="#">elmopumps.ru</a></p>
    </div>
  </div>
</footer>
