<div class="contacts-infographics">
  <div class="contacts-infographics-item">
    <div class=" contacts-infographics-border">
      <div class="contacts-infographics-image-holder">
        <img src="./assets/img/icons/icon-map.svg" alt="">
      </div>
      <div class="contacts-infographics-content">
        <h4>Центральный офис</h4>
        <p>Москва, ул. Пушкина 21, 3 этаж, офис 4
        </p>
      </div>
    </div>
  </div>
  <div class="contacts-infographics-item">
    <div class=" contacts-infographics-border">
      <div class="contacts-infographics-image-holder">
        <img src="./assets/img/icons/icon-tel.svg" alt="">
      </div>
      <div class="contacts-infographics-content">
        <h4>Телефон дляя справок</h4>
        <a href="tel:+7 (000) 000-00-30">+7 (000) 000-00-30</a>
        </p>
      </div>
    </div>
  </div>
  <div class="contacts-infographics-item">
    <div class="contacts-infographics-border">
      <div class="contacts-infographics-image-holder">
        <img src="./assets/img/icons/icon-mail.svg" alt="">
      </div>
      <div class="contacts-infographics-content">
        <h4>Email</h4>
        <a href="mailto:info@hundae.com">info@hundae.com</a>
      </div>
    </div>
  </div>
</div>
