.contacts-infographics-content {
  h4 {
    font-size: $font-size-s;
    margin-bottom: 8px;
  }

  p {
    font-size: $font-size-xxs;
    line-height: 15px;
  }

  a {
    color: $color-grey;
  }
}

.contacts-infographics {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
  margin-left: -6px;
  margin-right: -6px;
}

.contacts-infographics-item {
  display: flex;
  max-width: 33.33%;
  padding: 6px;
  width: 100%;
  @include mobile {
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.contacts-infographics-border {
  border: 1px solid $color-grey-light;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  transition: 0.3s;
  width: 100%;
  @include laptop {
    flex-direction: column;
    text-align: center;
  }

  @include mobile {
    flex-direction: row;
    text-align: left;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.contacts-infographics-image-holder {
  height: 40px;
  margin-right: 14px;
  max-width: 40px;
  width: 100%;
  @include laptop {
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 14px;
  }

  img {
    width: auto;
  }
}
