<nav class="nav-main">
  <a href="#" class="is-active">О компании</a>
  <a href="#">Контакты</a>
  <a href="#">Лицензия</a>
  <a href="#">Партнеры</a>
  <a href="#">Сотрудники</a>
  <a href="#">Отзывы</a>
  <a href="#">Вакансии</a>
  <a href="#">Реквизиты</a>
</nav>
