<section class="main-information">
  <div class="main-information-container">
    <h2>Настоящий свет, настоящая безопасность</h2>
    <div class="main-information-image">
      <img src="./assets/img/main-info.svg" alt="some text">
    </div>
    <div class="main-information-content">
      <h2>Настоящий свет, настоящая безопасность</h2>
      <p>С момента своего основания в декабре 1981 года, компании Hyun Dae Electric непрерывно развивалась в качестве профессиональной судоремонтной компании по ремонту электрооборудования. Наша компания была первой национальной компанией, разработавшей в 1983 году прожектор для приманки рыбы, стабилиза- тор для прожектора и сигнализатор, осуществляя поставки этих продуктов различ- ным местным рыбопромысловым компаниям. Кроме того, в 1988 году был построен завод Hyun Dae Electric (Завод 2: расположен в Namhang-dong Пусан, окр. Ёндо-гу) для расширения объема производства и осуществления поставок распределитель- ных панелей и щитов для судов.</p>
      <a href="#" class="read-more">Подробнее</a>
    </div>
  </div>
</section>
